<blockquote>
  <p>The Crassus token is a cryptocurrency designed to maximize accessibility and ease of use.</p>
  <p>Strength in Simplicity - Crassus is a simple value token. It is used to store and transfer value.</p>
  <p>900,000 Total Supply - All Crassus are circulating today.</p>
  <p>A Strong Foundation - Crassus is implemented following the ERC20 standard, taking full advantage the infastructure of the Ethereum platform.</p>
  <p>Readable Units - 1 Crassus can be divided into 10,000 parts, with the smallest unit being 0.0001 Crassus. Thus all Crassus values are easily readable.</p>
  <p>Symbolic - Crassus was the wealthiest man in Ancient Rome, and ranks among the wealthiest men in world history. This token carries his spirit.</p>
  <p>Crassus has no gimmick nor makes any needlessly complicated propositions. Learn more about it by <a href="http://crassus.io/crassus.pdf" target="_blank">reading the whitepaper.</a></p>
  <footer><a href="http://crassus.io/" target="_blank">http://crassus.io/</a></footer>
</blockquote>
