<blockquote>
  <p>Dai 1.0 is a stablecoin created by MakerDAO by collatoralizing digital assets, currently only ETH. It is designed to always be worth 1 USD.</p>
  <footer><a href="https://coinmarketcap.com/currencies/dai/" target="_blank">https://coinmarketcap.com/currencies/dai/</a></footer>
</blockquote>
