<blockquote>
  <p>Proxy has developed "Proxy Wallet", which features bio-metric security and is a NFC-enabled physical wallet, The proxy wallet will be the center of the Proxy merchant services ecosystem. The Proxy Ecosystem will consist of a marketplace, a chat messenger, and crypo-currency merchant services.</p>
  <footer><a href="https://proxycard.io" target="_blank">https://proxycard.io</a></footer>
</blockquote>
