<blockquote>
  <p>eRupee (e₹) is First South Asian crypto-currency. Our Aim is to make blockchain technology accessible to every South Asian.</p>
  <footer><a href="https://erupee.wordpress.com/" target="_blank">https://erupee.wordpress.com/</a></footer>
</blockquote>
