<blockquote>
  <p>The Golem Network is a decentralized computation network. Using Golem users can buy or sell computational power from other users in a peer to peer environment. Golem is built using Ethereum smart contracts as a transaction system for nano-payments within the network. Golem Network Tokens (GNT) serve as a secure medium for all transactions within the Golem Network.</p>
  <footer><a href="https://golem.network/" target="_blank">https://golem.network/</a></footer>
</blockquote>
