<blockquote>
  <p>Legacy token for the MKR token project. This exsits because ED has not updated it's market listing to the new contract. Please upgrade this old MKR.</p>
  <footer><a href="https://medium.com/@MakerDAO/mkr-token-upgrade-and-oasis-redeployment-2445482437d6" target="_blank">https://medium.com/@MakerDAO/mkr-token-upgrade-and-oasis-redeployment-2445482437d6</a></footer>
</blockquote>
