<blockquote> 
  <p>trade.io is an innovative new blockchain trading platform that will disrupt the financial ecosystem and democratize the markets.</p> 
  <footer><a href="https://trade.io/" target="_blank">https://trade.io/</a></footer> 
</blockquote>
